
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <link rel="stylesheet" href="~/content/style.css" />
</head>
<body class="container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="index.html"><img src="~/Content/logo.png" alt="Logo DCSondage"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Se connecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">S'enregistrer</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
        </div>
    </nav>
    <header>
        <a href="index.html"><img src="~/Content/dcS_White_Transparent.png" alt="Logo DCSondage" id="banniere_image"> </a>
    </header>
    <br />
    <h3>Veuillez remplir le formulaire ci-dessous puis cliquer sur création sondage</h3>
    <br />
    <form action="/Home/Submit" method="post">
        <div class="row">
            <div class="form-group col-lg-3 center">
                <div class="form-check">
                    <input type="radio" id="1" value=1 name="radioB">
                    <label for="1">Unique</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="0" value=0 name="radioB">
                    <label for="0">Multiple</label>
                </div>
                <br />
                <div class="form-group">
                    <input type="text" name="titreSondage" class="form-control" id="idTitreSondage" placeholder="Veuillez saisir la question du sondage">
                </div>
                <br />
                <div class="form-group">
                    <input type="text" name="creationChoix[0]" class="form-control"  placeholder="Veuillez entrer votre choix 1">
                </div>
                <div class="form-group">
                    <input type="text" name="creationChoix[1]" class="form-control" placeholder="Veuillez entrer votre choix 2">
                </div>
                <div class="form-group">
                    <input type="text" name="creationChoix[2]" class="form-control"  placeholder="Veuillez entrer votre choix 3">
                </div>
                <div class="form-group">
                    <input type="text" name="creationChoix[3]" class="form-control"  placeholder="Veuillez entrer votre choix 4">
                </div>
                <div class="form-group">
                    <input type="text" name="creationChoix[4]" class="form-control"  placeholder="Veuillez entrer votre choix 5">
                </div>
                <div class="form-group">
                    <select name="restrictionSondage" class="form-control">
                        <option selected value="10">Cookie</option>
                        <option value="20">Adresse IP</option>
                    </select>
                </div>
            </div>

        </div>

        <a href="/Home/Submit"><input type="submit" value="Générer le sondage" class="btn btn-warning btn-block" /></a><br />
        <a href="/Home/Creation/"><button type="button" class="btn btn-danger btn-block">Effacer valeur</button></a>
    </form>



    <footer class="form-group col-lg-5 center">
        <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Politique d'accessibilité</a></li>
        </ul>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>