/* Eléments principaux de la page */
/* 873 * 1224 */
body
{
    background: url('images/fond_jaune.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#wrapper
{
    width: 873px;
	height : 1224px;
    margin: auto;
//	background: url('frigo.jpg');
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
	text-align:center;
	font-size: 2.5em;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
	background-color:orange;
	width:515px;
	height:45px;
	left:180px;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 59px;
    height: 60px;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 0.9em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

.para
{
	color:red;
}


/* Bannière */

#banniere_image
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('banniere.jpg') no-repeat;
    position: relative;
    margin-bottom: 25px;
}


/* Corps */

section
{
    display: flex;
    margin-bottom: 20px;
}

article
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}

article p
{
    font-size: 1.5em;
	text-align:center;
}


.bouton
{
	float: center;
	text-align: center;
	position:relative;
	width:750px;
	left:50px;
}

.tailleBouton
{
	width:300px;
	height:100px;
	font-size:25px;
	border-radius:20px;
}

.tailleBouton:hover
{
	float: center;
	text-align: center;
	background-color:orange;
}

/* Footer */

footer
{
    background-color:orange;
    padding-top: 5px;
	text-align: center;
    font-size: 0.7em;
	text-align: center;
	width:515px;
	left:180px;
}
