USE [master]
GO
/****** Object:  Database [projet]    Script Date: 22/12/2017 16:54:12 ******/
CREATE DATABASE [projet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sondage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\sondage.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sondage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\sondage_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [projet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [projet]
GO
USE [projet]
GO
/****** Object:  Table [dbo].[choix]    Script Date: 22/12/2017 16:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[choix](
	[numChoix] [int] IDENTITY(1,1) NOT NULL,
	[nomChoix] [nvarchar](255) NOT NULL,
	[numSondage] [int] NOT NULL,
 CONSTRAINT [PK_choix] PRIMARY KEY CLUSTERED 
(
	[numChoix] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lien]    Script Date: 22/12/2017 16:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lien](
	[numLien] [int] IDENTITY(1,1) NOT NULL,
	[adresseLien] [text] NOT NULL,
	[numSondage] [int] NOT NULL,
 CONSTRAINT [PK_lien] PRIMARY KEY CLUSTERED 
(
	[numLien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sondage]    Script Date: 22/12/2017 16:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sondage](
	[numSondage] [int] IDENTITY(1,1) NOT NULL,
	[questionSondage] [nvarchar](max) NOT NULL,
	[typeSondage] [bit] NOT NULL,
 CONSTRAINT [PK_sondage] PRIMARY KEY CLUSTERED 
(
	[numSondage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[votant]    Script Date: 22/12/2017 16:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[votant](
	[numVotant] [int] IDENTITY(1,1) NOT NULL,
	[adresseIp] [nvarchar](50) NULL,
 CONSTRAINT [PK_votant] PRIMARY KEY CLUSTERED 
(
	[numVotant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vote]    Script Date: 22/12/2017 16:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vote](
	[numVote] [int] IDENTITY(1,1) NOT NULL,
	[nbVote] [int] NOT NULL,
	[nbVotant] [int] NOT NULL,
	[numChoix] [int] NOT NULL,
	[numVotant] [int] NOT NULL,
 CONSTRAINT [PK_vote] PRIMARY KEY CLUSTERED 
(
	[numVote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[choix] ON 

INSERT [dbo].[choix] ([numChoix], [nomChoix], [numSondage]) VALUES (1, N'Bleu', 1)
INSERT [dbo].[choix] ([numChoix], [nomChoix], [numSondage]) VALUES (2, N'Vert', 1)
INSERT [dbo].[choix] ([numChoix], [nomChoix], [numSondage]) VALUES (3, N'Rouge', 1)
SET IDENTITY_INSERT [dbo].[choix] OFF
SET IDENTITY_INSERT [dbo].[lien] ON 

INSERT [dbo].[lien] ([numLien], [adresseLien], [numSondage]) VALUES (1, N'http://vote1', 1)
INSERT [dbo].[lien] ([numLien], [adresseLien], [numSondage]) VALUES (3, N'http://resultat1', 1)
INSERT [dbo].[lien] ([numLien], [adresseLien], [numSondage]) VALUES (4, N'http://supAleatoire1', 1)
SET IDENTITY_INSERT [dbo].[lien] OFF
SET IDENTITY_INSERT [dbo].[sondage] ON 

INSERT [dbo].[sondage] ([numSondage], [questionSondage], [typeSondage]) VALUES (1, N'Votre couleur préférée ?', 0)
INSERT [dbo].[sondage] ([numSondage], [questionSondage], [typeSondage]) VALUES (2, N'Votre jeux favoris ?', 1)
SET IDENTITY_INSERT [dbo].[sondage] OFF
SET IDENTITY_INSERT [dbo].[votant] ON 

INSERT [dbo].[votant] ([numVotant], [adresseIp]) VALUES (1, N'1.1.1.1')
INSERT [dbo].[votant] ([numVotant], [adresseIp]) VALUES (2, N'2.2.2.2')
INSERT [dbo].[votant] ([numVotant], [adresseIp]) VALUES (3, N'3.3.3.3')
SET IDENTITY_INSERT [dbo].[votant] OFF
ALTER TABLE [dbo].[choix]  WITH CHECK ADD  CONSTRAINT [FK_choix_sondage1] FOREIGN KEY([numSondage])
REFERENCES [dbo].[sondage] ([numSondage])
GO
ALTER TABLE [dbo].[choix] CHECK CONSTRAINT [FK_choix_sondage1]
GO
ALTER TABLE [dbo].[lien]  WITH CHECK ADD  CONSTRAINT [FK_lien_sondage1] FOREIGN KEY([numSondage])
REFERENCES [dbo].[sondage] ([numSondage])
GO
ALTER TABLE [dbo].[lien] CHECK CONSTRAINT [FK_lien_sondage1]
GO
ALTER TABLE [dbo].[vote]  WITH CHECK ADD  CONSTRAINT [FK_vote_choix] FOREIGN KEY([numChoix])
REFERENCES [dbo].[choix] ([numChoix])
GO
ALTER TABLE [dbo].[vote] CHECK CONSTRAINT [FK_vote_choix]
GO
ALTER TABLE [dbo].[vote]  WITH CHECK ADD  CONSTRAINT [FK_vote_votant] FOREIGN KEY([numVotant])
REFERENCES [dbo].[votant] ([numVotant])
GO
ALTER TABLE [dbo].[vote] CHECK CONSTRAINT [FK_vote_votant]
GO
USE [master]
GO
